<div class="current_forcast">

  <% location!!.address_components.each do |location| %>
    <%= location.city %>
    <%= location.state %>
    <%= location.country %>
  <% end %>

  <%= forecast.summary %>
  <%= forecast.temperature %>
  <p>High: <%= forecast.high_temp %></p>
  <p>Low: <%= forecast.low_temp %></p>


  <%= Time.now %> #formatted hh:mm PM, 10/31

  <%= link_to "Change Location" %>
  <%= link_to "favorite" %>
</div>
